*  {
    font-family: 'Press Start 2P', cursive !important; 
}

.container-margin {
	margin-top: 60px;
}

.form-item {
	margin-top: 12px;
	margin-bottom: 12px;
}

.form-button {
	margin-top: 18px;
	margin-bottom: 8px;
}

.font-size-8px {
	font-size: 14px;
}

.bgyellow{
    background-color: #fdcb6e !important;
}