*  {
    font-family: 'Press Start 2P', cursive !important; 
}

.form-item {
	margin-top: 12px;
	margin-bottom: 12px;
}

.form-button {
	margin-top: 18px;
}

.bgyellow{
    background-color: #fdcb6e !important;
}