* {
    font-family: 'Press Start 2P', cursive !important;
}

.container-margin {
    margin-top: 115px;
}

.form-item {
    margin-top: 12px;
    margin-bottom: 12px;
}

.form-button {
    margin-top: 18px;
    margin-bottom: 8px;
}

.font-size-8px {
    font-size: 14px;
}

.bgyellow {
    background-color: #fdcb6e !important;
}

.background-image {
    background-image: url('../img/thumb-1920-333223.jpg')
}

.id-column {
    height: 650px;
}

.margin-28px {
    margin-bottom: 28px;
}

.user-info {
    padding: 26px;
}


@font-face {
    src: url(fonts/PressStart2P-Regular.ttf);
    font-family: 'Press Start 2P';
}